<!-- Sidenav -->
<!--<app-sidebar></app-sidebar>-->
<!--<div class="main-content">-->
<!--  &lt;!&ndash; Top navbar &ndash;&gt;-->
<!--  <app-navbar></app-navbar>-->
<!--  &lt;!&ndash; Pages &ndash;&gt;-->
<!--  <router-outlet></router-outlet>-->
<!--  <div class="container-fluid">-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
<!--</div>-->
<!-- src/app/layouts/admin-layout/admin-layout.component.html -->
<!--<app-navbar></app-navbar>-->
<!--<div class="main-content">-->
<!--&lt;!&ndash;  <app-sidebar></app-sidebar>&ndash;&gt;-->
<!--  <div class="content">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->
<!-- src/app/layouts/admin-layout/admin-layout.component.html -->
<app-navbar></app-navbar>
<div class="main-content">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
