<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-md enchere-navbar">
  <div class="container-fluid navbar-top">
    <!-- Section gauche : Recherche -->
    <div class="navbar-search">
      <div class="search-wrapper">
        <span class="search-icon">
          <i class="fas fa-search"></i>
        </span>
        <input
          class="search-input"
          placeholder="Rechercher"
          type="text"
          (focus)="focus = true"
          (blur)="focus = false"
          [ngClass]="{ 'focused': focus === true }"
        />
      </div>
    </div>

    <!-- Section droite : Compte et Panier -->
    <ul class="navbar-nav user-actions">
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">
          <i class="fas fa-cog"></i> Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">
          <i class="fas fa-history"></i> History
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">
          <i class="far fa-user"></i> Compte
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">
          <i class="fas fa-shopping-bag"></i> Panier
        </a>
      </li>
    </ul>
  </div>

  <!-- Logo et titre centrés avec les catégories en dessous -->
  <div class="navbar-center">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-gavel logo-icon"></i>
      <span class="brand-logo ">EasyBid</span>
    </a>
<!--    <div class="category-nav">-->
<!--      <button class="nav-arrow left-arrow" (click)="scrollCategories('left')" aria-label="Scroll left">-->
<!--        <i class="fas fa-chevron-left"></i>-->
<!--      </button>-->
<!--      <div class="category-list-wrapper">-->
<!--        <ul class="nav category-list">-->
<!--          <li class="nav-item" *ngFor="let category of categories">-->
<!--            <a class="nav-link" (click)="navigateToCategory(category.id)">-->
<!--              {{ category.name | uppercase }}-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <button class="nav-arrow right-arrow" (click)="scrollCategories('right')" aria-label="Scroll right">-->
<!--        <i class="fas fa-chevron-right"></i>-->
<!--      </button>-->
<!--    </div>-->
    <!-- src/app/components/navbar/navbar.component.html -->
    <div class="category-nav">
      <button class="nav-arrow left-arrow" (click)="scrollCategories('left')" aria-label="Scroll left">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="category-list-wrapper" #categoryList>
        <ul class="nav category-list">
          <li class="nav-item" *ngFor="let category of categories">
            <a class="nav-link" (click)="navigateToCategory(category.id)">
              {{ category.name | uppercase }}
            </a>
          </li>
        </ul>
      </div>
<!--      <div class="subcategory-menu">-->
<!--        <ul class="subcategory-list">-->
<!--          <li *ngFor="let subCategory of category.subCategories">-->
<!--            <a class="subcategory-link" (click)="navigateToCategory(category.id + '/' + subCategory.toLowerCase())">-->
<!--              {{ subCategory }}-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
      <button class="nav-arrow right-arrow" (click)="scrollCategories('right')" aria-label="Scroll right">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</nav>
