/* src/app/layouts/auth-layout/auth-layout.component.scss */
//.main-content {
//  //width: 100%;
//  padding: 0;
//  overflow-x: hidden; /* Empêche le scroll horizontal */
//}
/* src/app/layouts/auth-layout/auth-layout.component.scss */
.main-content {
  //width: 100%;
  padding: 0 !important;
  margin: 0;
}

.content {
  padding: 0 !important;
}

/* Ajuster le contenu pour éviter chevauchement avec la navbar fixe */
:host {
  display: block;
  padding-top: 120px; /* Ajustez selon la hauteur de votre navbar */
}
