.header {
    position: relative;
    z-index: 1;
  }
  
  .header-body {
    display: flex;
    align-items: center;
  }
  
  .card {
    transition: transform 0.2s ease-in-out;
    padding-top: 130px;;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    .card-img-top {
      background-color: #f8f9fa;
      padding: 5px;
    }
  
    .card-body {
      padding: 1rem;
    }
  
    .card-title {
      font-size: 1.25rem;
      font-weight: 300;
    }
  
    .card-text {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
  
    .card-footer {
      background-color: transparent;
      border-top: none;
      padding: 0.75rem 1rem;
    }
  }
  
  .btn-primary {
    background-color: #5e72e4;
    border-color: #5e72e4;
  
    &:hover {
      background-color: #324cdd;
      border-color: #324cdd;
    }
    .modal-body .form-control {
      pointer-events: auto !important;
      opacity: 1 !important;
      background-color: #fff !important;
    }
  }