/* You can add global styles to this file, and also import other style files */

.centered-modal {
  .mat-dialog-container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    //max-height: 90vh !important;
    width:900px !important;
    height:600px !important;
    overflow: auto !important;
  }
}

/* Fond semi-transparent */
.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
